<button class={classes}>
  {#if icon}
  <i class="material-icons {iconAlign}">{icon}</i>
  {/if} {text}
</button>

<script>
  export default {
    computed: {
      classes: ({
        btn,
        floating,
        flat,
        disabled,
        waves,
        teal,
        size,
        color,
      }) => {
        const classes = [];

        btn && classes.push(`btn`);
        floating && classes.push(`btn-floating`);
        flat && classes.push(`btn-flat`);
        disabled && classes.push(`disabled`);
        waves && classes.push(`waves-effect waves-light`);
        teal && classes.push(`waves-teal`);
        size && classes.push(`btn-${size}`);
        color && classes.push(`${color}`);

        return classes.join(' ');
      }
    }
  };
</script>

<style>
  
</style>