{#if href}
<a class="{classes}"
   {href}
   {accesskey}
   {type}
   {name}
   {coords}
   {hreflang}
   {rel}
   {rev}
   {shape}
   {tabindex}
   {target}
   {title}
   >
  {#if icon}
  <i class="material-icons {iconAlign}">{icon}</i>
  {/if}
  <slot>button</slot>
</a>
{:else}
<button class="{classes}"
        {type}
        {name}
        {value}
        {disabled}
        {autofocus}
        {accesskey}
        {formaction}
        {formenctype}
        {formmethod}
        {formnovalidate}
        {formtarget}
        >
  {#if icon}
  <i class="material-icons {iconAlign}">{icon}</i>
  {/if}
  <slot>button</slot>
</button>
{/if}

<script>
  export default {
    data() {
      return {
        color: '', // classes
        size: '',
        icon: '',
        iconAlign: 'left',
        floating: false,
        flat: false,
        waves: false,
        wavesColor: 'light',
        type: '',// button or link attr
        href: '',
        name: '',
        value: '',
        disabled: false,
        autofocus: false,
        accesskey: '',
        formaction: '',
        formenctype: 'application/x-www-form-urlencoded',
        formmethod: '',
        formnovalidate: '',
        formtarget: '',
        href: '', // only link attr
        coords: '',
        hreflang: '',
        rel: '',
        rev: '',
        shape: '',
        tabindex: '',
        target: '',
        title: ''
      };
    },
    computed: {
      classes: ({
        color,
        size,
        floating,
        flat,
        disabled,
        waves,
        wavesColor
      }) => {
        const classes = [];
        flat ? classes.push(`btn-flat`) : classes.push(`btn`);
        floating && classes.push(`btn-floating`);
        disabled && classes.push(`disabled`);
        waves && classes.push(`waves-effect`);
        wavesColor && classes.push(`waves-${wavesColor}`);
        size && classes.push(`btn-${size}`);
        color && classes.push(`${color}`);
        return classes.join(' ');
      }
    }
  };
</script>

<style>
  
</style>